extends partial/entry-layout.jade

block title
    title Buttercup

block prepend scripts
    script.
        const importScreen = true;
        const appVersion = "#{version}";

block body
    section.window.grid-frame
