{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "66",
          "node": "10"
        },
        "useBuiltIns": false,
        "modules": false,
        "loose": true
      }
    ]
  ],
  "plugins": [
    "lodash",
    "polished",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-strict-mode",
    "@babel/plugin-proposal-class-properties",
    "jsx-control-statements",
    ["webpack-alias", { "config": "./config/webpack.config.base.js" }]
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-remove-console",
        "transform-remove-debugger",
        "dev-expression",
        "jsx-control-statements"
      ]
    },
    "node": {
      "plugins": ["@babel/plugin-transform-modules-commonjs"]
    },
    "test": {
      "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-transform-modules-commonjs"
      ]
    }
  }
}
