{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "electron": "1.7"
      },
      "useBuiltIns": true,
      "modules": false,
      "loose": true
    }]
  ],
  "plugins": [
    "lodash",
    "polished",
    "transform-object-rest-spread",
    "transform-strict-mode",
    "transform-class-properties",
    "jsx-control-statements",
   ["webpack-alias", { "config": "./config/webpack.config.base.js" } ]
  ],
  "env": {
  	"production": {
  		"presets": ["react-optimize"],
  		"plugins": [
  			"transform-remove-console",
  			"transform-remove-debugger",
        "dev-expression",
        "jsx-control-statements"
  		]
  	},
    "node": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "add-module-exports"
      ]
    },
    "development": {
      "plugins": [
        // "react-hot-loader/babel"
      ]
    },
    "test": {
      "presets": ["es2015", "stage-2"],
      "plugins": ["transform-runtime"],
      "comments": false
    }
  }
}
