{
  "parser": "babel-eslint",
  "plugins": ["jsx-control-statements"],
  "extends": [
    "standard",
    "standard-react",
    "plugin:jsx-control-statements/recommended",
    "prettier"
  ],
  "ecmaFeatures": {
    "jsx": true
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "semi": ["error", "always"],
    "space-before-function-paren": ["error", "never"],
    "jsx-quotes": "off",
    "comma-dangle": "off",
    "jsx-control-statements/jsx-use-if-tag": 0
  }
}
