{
  "tabWidth": 2,
  "singleQuote": true,
  "overrides": [
    {
      "files": [
        "locales/**/*.json",
        ".prettierrc",
        ".babelrc",
        ".eslintrc",
        ".stylelintrc"
      ],
      "options": {
        "parser": "json"
      }
    }
  ]
}
