.rc-tree {
  margin: 0;
  padding: 5px;
}
.rc-tree li {
  padding: 0;
  margin: 0;
  list-style: none;
  white-space: nowrap;
  outline: 0;
}
.rc-tree li a[draggable],
.rc-tree li a[draggable="true"] {
  color: #333;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
.rc-tree li.drag-over > a[draggable] {
  background-color: #316ac5;
  color: white;
  border: 1px #316ac5 solid;
  opacity: 0.8;
}
.rc-tree li.drag-over-gap-top > a[draggable] {
  border-top: 2px blue solid;
}
.rc-tree li.drag-over-gap-bottom > a[draggable] {
  border-bottom: 2px blue solid;
}
.rc-tree li.filter-node > a {
  color: #a60000!important;
  font-weight: bold!important;
}
.rc-tree li ul {
  margin: 0;
  padding: 0 0 0 18px;
}
.rc-tree li ul.rc-tree-line {
  background: url("https://t.alipayobjects.com/images/T13BtfXl0mXXXXXXXX.gif") 0 0 repeat-y;
}
.rc-tree li a {
  display: inline-block;
  padding: 1px 3px 0 0;
  margin: 0;
  cursor: pointer;
  height: 17px;
  text-decoration: none;
  vertical-align: top;
}
.rc-tree li span.rc-tree-switcher,
.rc-tree li span.rc-tree-checkbox,
.rc-tree li span.rc-tree-iconEle {
  line-height: 16px;
  margin-right: 2px;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  border: 0 none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url("https://t.alipayobjects.com/images/T1.ANfXhXtXXXXXXXX.png");
}
.rc-tree li span.rc-tree-icon_loading {
  margin-right: 2px;
  vertical-align: top;
  background: url(https://t.alipayobjects.com/images/rmsweb/T1YxhiXgJbXXXXXXXX.gif) no-repeat scroll 0 0 transparent;
}
.rc-tree li span.rc-tree-switcher.rc-tree-switcher-noop {
  cursor: auto;
}
.rc-tree li span.rc-tree-switcher.rc-tree-roots_open {
  background-position: -93px -56px;
}
.rc-tree li span.rc-tree-switcher.rc-tree-roots_close {
  background-position: -75px -56px;
}
.rc-tree li span.rc-tree-switcher.rc-tree-center_open {
  background-position: -92px -18px;
}
.rc-tree li span.rc-tree-switcher.rc-tree-center_close {
  background-position: -74px -18px;
}
.rc-tree li span.rc-tree-switcher.rc-tree-bottom_open {
  background-position: -92px -36px;
}
.rc-tree li span.rc-tree-switcher.rc-tree-bottom_close {
  background-position: -74px -36px;
}
.rc-tree li span.rc-tree-switcher.rc-tree-noline_open {
  background-position: -92px -72px;
}
.rc-tree li span.rc-tree-switcher.rc-tree-noline_close {
  background-position: -74px -72px;
}
.rc-tree li span.rc-tree-switcher.rc-tree-center_docu {
  background-position: -56px -18px;
}
.rc-tree li span.rc-tree-switcher.rc-tree-bottom_docu {
  background-position: -56px -36px;
}
.rc-tree li span.rc-tree-switcher.rc-tree-noline_docu {
  background: none;
}
.rc-tree li span.rc-tree-checkbox {
  width: 13px;
  height: 13px;
  margin: 0 3px;
  background-position: 0 0;
}
.rc-tree li span.rc-tree-checkbox-checked {
  background-position: -14px 0;
}
.rc-tree li span.rc-tree-checkbox-indeterminate {
  background-position: -14px -28px;
}
.rc-tree li span.rc-tree-checkbox-disabled {
  background-position: 0 -56px;
}
.rc-tree li span.rc-tree-checkbox.rc-tree-checkbox-checked.rc-tree-checkbox-disabled {
  background-position: -14px -56px;
}
.rc-tree li span.rc-tree-checkbox.rc-tree-checkbox-indeterminate.rc-tree-checkbox-disabled {
  position: relative;
  background: #ccc;
  border-radius: 3px;
}
.rc-tree li span.rc-tree-checkbox.rc-tree-checkbox-indeterminate.rc-tree-checkbox-disabled::after {
  content: ' ';
  -webkit-transform: scale(1);
  transform: scale(1);
  position: absolute;
  left: 3px;
  top: 5px;
  width: 5px;
  height: 0;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
}
.rc-tree-child-tree {
  display: none;
}
.rc-tree-child-tree-open {
  display: block;
}
.rc-tree-treenode-disabled > span,
.rc-tree-treenode-disabled > a,
.rc-tree-treenode-disabled > a span {
  color: #ccc;
  cursor: not-allowed;
}
.rc-tree-node-selected {
  background-color: #ffe6b0;
  border: 1px #ffb951 solid;
  opacity: 0.8;
}
.rc-tree-icon__open {
  margin-right: 2px;
  background-position: -110px -16px;
  vertical-align: top;
}
.rc-tree-icon__close {
  margin-right: 2px;
  background-position: -110px 0;
  vertical-align: top;
}
