<section class="grid-content edit-form">
    <form>
        <label class="row">
            <div class="title"></div>
            <div class="field">
                <input type="text" value="<%= title %>" class="form-control" placeholder="Title..." name="title">
            </div>
        </label>
        <label class="row">
            <p class="title">Username:</p>
            <div class="field">
                <input type="text" class="form-control" placeholder="Username" value="<%= username %>" name="username">
            </div>
        </label>
        <label class="row">
            <p class="title">
                Password:
            </p>
            <div class="field">
                <span class="inline-label">
                    <input type="password" class="form-control" placeholder="Password" value="<%= password %>" name="password">
                    <a href="#" class="toggle-password form-label"><%= icon("binoculars") %></a>
                    <a href="#" class="generate-password form-label"><%= icon("generate") %></a>
                </span>
            </div>
        </label>

        <% _.each(meta, function (metaValue, metaKey) { %>
        <label class="row" data-custom-field-row="<%= metaKey %>">
            <p class="title"><%= metaKey %>:</p>
            <div class="field">
                <span class="inline-label">
                    <input type="text" class="form-control form-value" value="<%= metaValue %>" data-custom-field="<%= metaKey %>">
                    <a href="#" class="btn-remove-meta form-label" data-meta="<%= metaKey %>"><%= icon("line-remove") %></a>
                </span>
            </div>
        </label>
        <% }); %>
    </form>
    <a href="#" class="add-new-meta round-button secondary"><%= icon("line-add") %> Add New Field...</a>
</section>
<footer class="grid-content shrink clearfix">
    <div class="float-left hide action-buttons"><!--hidden-->
        <button class="primary round-button btn-save">Save</button>
        <button class="secondary round-button btn-cancel">Cancel</button>
    </div>
    <div class="float-right">
        <button class="alert round-button btn-remove">Delete</button>
    </div>
</footer>
