<div class="padded-more view-content">
    <h1 contenteditable="true"><%= title %></h1>
    <form>
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" placeholder="Username" value="<%= username %>" name="username">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Password" value="<%= password %>" name="password">
            <a href="#" class="toggle-password"><span class="icon icon-eye"></span></a>
        </div>

        <h6>Meta</h6>
        <hr>

        <% _.each(meta, function (metaValue, metaKey) { %>
        <div class="form-group split-form-group">
            <label class="form-title"><%= metaKey %></label>
            <input type="text" class="form-control form-value" value="<%= metaValue %>" data-custom-field="<%= metaKey %>">
        </div>
        <% }); %>
    </form>
    <hr>
    <a href="#" class="add-new-meta">Add New Meta...</a>
</div>
<div class="view-footer padded active">
    <div class="left hidden">
        <button class="btn btn-primary btn-save">Save</button>
        <button class="btn btn-default btn-cancel">Cancel</button>
    </div>
    <div class="right">
        <button class="btn btn-negative btn-remove"><span class="icon icon-trash"></span> Delete</button>
    </div>
</div>