<div class="chevron">
    <%= icon("next") %>
</div>
<a href="#" data-id="<%= typeof id !== "undefined" ? id : '' %>">
    <%= icon("folder") %>
    <% if (isNew) { %>
        <span data-title contenteditable><%= title %></span>
    <% } else { %>
        <%= title %>
        <% if (!isTrash) { %>
        <div class="menu">
            <span class="group-add"><%= icon("line-add-white") %></span>
            <span class="group-remove"><%= icon("line-remove-white") %></span>
        </div>
        <% } %>
    <% } %>
</a>
