@import './variables';

%flex {
  flex: 1;
  display: flex;
}

%stretch {
  flex: 1;
  overflow: auto;
}

.heading {
  color: $black-35;
  text-transform: uppercase;
  border-bottom: 1px solid $black-5;
  margin: 3em 0 0;
}
