$spacing-one: 12px;
$spacing-two: 20px;
$spacing-half: $spacing-one / 2;

$form-input-height: 35px;

$dark-primary: #292C33;
$dark-secondary: #31353D;
$brand-primary: #00B7AC;
$gray-light: #F5F7FA;
$gray: #E4E9F2;
$gray-dark: #777;
$red: #EB5767;
$white-10: rgba(255,255,255,.10);
$white-20: rgba(255,255,255,.20);
$white-50: rgba(255,255,255,.50);
$white-60: rgba(255,255,255,.60);
$black-5: rgba(0,0,0,.05);
$black-10: rgba(0,0,0,.10);
$black-20: rgba(0,0,0,.20);
$black-25: rgba(0,0,0,.25);
$black-35: rgba(0,0,0,.35);
$LEVEL_4: #5CAB7D;
$LEVEL_3: #8FBC94;
$LEVEL_2: #FFBC42;
$LEVEL_1: #E71D36;
$LEVEL_0: #E71D36;
