@import './variables';

.button {
  display: inline-block;
  border-radius: 20px;
  font-size: .75rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: $spacing-half $spacing-one;
  border: 0;
  cursor: pointer !important;
  outline: none;
  transition: background-color .2s ease;
  background-color: $gray-light;

  &:hover {
    background-color: $gray;
  }

  svg {
    font-size: 14px;
    vertical-align: -3px !important;
    margin-right: 2px;
    cursor: pointer !important;
  }

  &[disabled] {
    opacity: .5;
    cursor: default;
  }
}

.full {
  width: 100%;
}

.primary {
  background-color: $brand-primary;
  color: #fff;

  &:hover {
    background-color: darken($brand-primary, 10%);
  }
}

.dark {
  background-color: $black-25;
  color: #fff;

  &:hover {
    background-color: $black-35;
  }
}

.danger {
  background-color: $red;
  color: #fff;

  &:hover {
    background-color: darken($red, 10%);
  }
}

.icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: $spacing-half 0;
}
