@import './variables';

.wrapper {
  display: inline-block;
  border: 1px dashed transparent;
  padding-left: $spacing-half;
  margin-left: 1px;
  line-height: 1;
  border-radius: 5px;

  &:hover {
    border-color: $black-25;

    button {
      display: inline-block;
    }
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  height: 20px;
  line-height: 1;
  font-size: 10px;
  vertical-align: top;
  padding: 0 5px;
  margin-left: $spacing-half;
  display: none;
  cursor: pointer;
}
