@import './variables';

.list {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    padding: $spacing-half $spacing-one;
    cursor: pointer !important;
    transition: background-color ease .2s;
    display: flex;
    align-items: center;

    &.active {
      background-color: $brand-primary !important;
    }

    &:hover {
      background-color: $black-20;
    }

    > div {
      &.icon {
        margin-right: 15px;
      }
      &.text {
        padding-bottom: 2px;
      }
    }

    strong, small {
      display: block;
      font-weight: normal;
      cursor: inherit;
    }

    small {
      font-weight: 300;
      opacity: .7;
    }
  }
}
