@import './variables';
@import './common';

.formRow {
  display: flex;
  padding: $spacing-half 0;
  border-bottom: 1px solid $black-10;
}

.labelWrapper {
  flex: 0 0 130px;
  min-height: $form-input-height;
  border-right: 1px solid $black-10;
  margin-right: $spacing-half;
  padding-right: $spacing-one;
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .75em;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  input {
    width: 100%;
    border: none;
    text-align: right;
  }
}

.metaWrapper {
  margin-bottom: $spacing-one;
}
