@import './variables';

.input {
  width: 100%;
  height: $form-input-height;
  padding: 0 0 2px $spacing-half;
  border: 2px solid transparent;
  border-radius: 4px;
  font-size: 0.95rem;

  &:focus {
    border-color: $brand-primary;
  }
}

.password {
  padding-right: 2.2rem;
  font-size: 14px;
  font-family: Anonymous;
}

.wrapper {
  flex: 1;
  min-height: $form-input-height;
  margin-right: $spacing-half;
  position: relative;
}

.generator {
  position: absolute;
  right: 6px;
  top: 4px;
  cursor: pointer;
  padding: 5px;
  border-radius: 2px;

  svg {
    display: block;
  }

  &:hover {
    background-color: $gray-light;
  }
}

.generatorActive {
  background-color: $gray !important;
}
