@import './common';

.splitter {
  @extend %flex;

  > div {
    flex: 0 0 50%;
    &:last-child {
      @extend %flex;
      justify-content: flex-end;
    }
  }
}

.content {
  padding: 1em;
}

.column {
  background-color: #fff;
}

.emptyView {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  img {
    width: 250px;
    height: 250px;
  }

  figcaption {
    margin-top: -2rem;
  }
}
