@import './variables';

.formRow {
  display: flex;
  padding: $spacing-half 0;
  border-bottom: 1px solid $black-10;
}

.labelWrapper {
  flex: 1;
  min-width: 100px;
  max-width: 150px;
  border-right: 1px solid $black-10;
  margin-right: $spacing-half;
  padding-right: $spacing-one;
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .75em;
  height: $form-input-height;
  line-height: $form-input-height;

  input {
    width: 100%;
    border: none;
    text-align: right;
  }
}

.metaWrapper {
  margin-bottom: $spacing-one;
}

.heading {
  color: $black-35;
  text-transform: uppercase;
  border-bottom: 1px solid $black-5;
  margin: 3em 0 0;
}
