@import './variables';

.selected {
  background: $brand-primary;
  color: #fff;
}

.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.managerWrapper {
  flex: 1;
}
