@import './variables';
@import './common';

.container {
  @extend %flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: $spacing-one;
  background-color: $white-20;
}

.logo {
  text-align: center;
  border-bottom: 1px solid $gray-light;
  padding-bottom: $spacing-half;
  width: 100%;

  figcaption {
    font-weight: 300;
    color: $gray;
  }
}

.mac {
  .logo {
    border-color: $black-10;
  }
  figcaption {
    color: $gray-dark;
  }
}
