@import './common';

.wrapper {
  width: 300px;
  background: $dark-secondary;
  padding: $spacing-one;
  color: #fff;
  border-radius: 5px;
  font-weight: 300;

  label {
    display: block;
  }
}

.set {
  border-color: $white-50;
  border-radius: 3px;

  legend {
    text-transform: uppercase;
    padding: 0 $spacing-half;
    font-size: .8em;
  }
}

.password {
  font-size: .9rem;
  padding: $spacing-half;
  margin: 0;
  background-color: $black-25;
  border-radius: 3px;
  overflow: hidden;
  font-weight: 400;
}

.rangeLabel {
  display: flex !important;

  span {
    flex: 0;
    background-color: $black-25;
    padding: 0 3px;
    border-radius: 3px;
    font-family: monospace;
    width: 30px;
    margin-left: $spacing-half;
  }

  input {
    flex: 1;
  }
}

.buttons {
  display: flex;
  margin-top: $spacing-one;
  align-items: flex-start;
  flex-direction: row;
  
  button {
    width: 50%;

    &:first-child {
      margin-right: $spacing-half;
    }
  }
}

.types {
  margin: $spacing-one 0;
  font-size: .9rem;

  label {
    display: block;
  }

  small {
    color: $gray-dark;
  }
}
