@import './variables';

.barWrapper {
  width: 100%;
  height: 5px;
  border-radius: 5px;
  position: relative;
  margin-top: 5px;
  background-color: $gray;
  cursor: pointer;
}

.barContent {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  border-radius: 5px;
  transition: right 50ms linear;
  cursor: pointer;
}

.level0 {}
.level1 { background-color: $LEVEL_1 } 
.level2 { background-color: $LEVEL_2 } 
.level3 { background-color: $LEVEL_3 } 
.level4 { background-color: $LEVEL_4 } 

.suggestions {
  padding-top: $spacing-half;
  line-height: 1.5em;
  font-size: .8em;
  font-weight: 300;

  > p {
    margin: 0 0 $spacing-half;

    > svg {
      vertical-align: -2px !important;
    }
  }
}
