@import './variables';
@import './common'; 

.container {
  background-color: $white-60;
  border-left: 1px solid $black-10;
}

.emptyContainer {
  @extend .container;
  flex: 1;
  display: flex;
}

.content {
  padding: $spacing-one;
}

.heading {
  @extend .heading;
  margin-top: 1rem;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0 0 $spacing-one;

  > li {
    padding: $spacing-half 0;
    position: relative;
    border-bottom: 1px dotted $gray;
    cursor: pointer !important;
  }
}

.fileInfo {
  display: flex;
  align-items: center;

  figure {
    margin: 0;
    padding: 0;
    flex: 0 0 2rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      display: block;
    }
  }

  section {
    font-size: .9em;
    flex: 1;
    min-width: 0;
    padding-left: $spacing-one;

    div {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    div:last-child {
      font-weight: 300;
      font-size: .8em;
      color: $gray-dark;
    }
  }
}
