@import './variables';

.wrapper {
  position: relative;
  flex: 1;

  &:before {
    display: block;
    content: "⚲";
    position: absolute;
    transform: rotate(-45deg);
    top: 2px;
    left: 4px;
    opacity: .5;
  }
}

.field {
  width: 100%;
  color: #fff;
  background-color: $black-25;
  border: 0;
  border-radius: 5px;
  outline: none;
  padding: $spacing-half $spacing-two;
  font-size: .8em;
  display: block;
  cursor: text !important;

  &:focus {
    background-color: $black-35;
  }
}

.clear {
  width: 12px;
  height: 12px;
  background-color: #fff;
  position: absolute;
  top: 9px;
  right: 7px;
  border-radius: 50%;
  opacity: .5;
  font-size: 13px;
  text-align: center;
  line-height: 1;

  &:before {
    content: "×";
    color: #000;
    opacity: .7;
  }
}
