@import './button';
@import './variables';

.alert {
  font-family: 'Open Sans' !important;
}

.confirm {
  @extend .button;
  @extend .primary;
  background-color: $brand-primary !important;
  margin-right: $spacing-half;
}

.cancel {
  @extend .button;
  background-color: $gray-light !important;
}

.input {
  border: 2px solid $brand-primary !important;
  box-shadow: none !important;
}
