@import './variables';

.node {
  display: block;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.input {
  border: none;
  outline: none;
  border-radius: 2px;
  background-color: rgba($dark-secondary, .5);
  box-sizing: border-box;
  color: #fff;
}
