@import 'variables';
$treePrefixCls: 'rc-tree';

.#{$treePrefixCls} {
  margin: 0;
  padding: 0;
  -webkit-app-region: no-drag;
  
  li {
    padding: 0;
    margin: 0;
    list-style: none;
    white-space: nowrap;
    outline: 0;

    .draggable {
      user-select: none;
    }

    &.drag-over {
      > .draggable {
        background-color: #316ac5;
        color: white;
        border: 1px #316ac5 solid;
        opacity: 0.8;
      }
    }

    &.drag-over-gap-top {
      > .draggable {
        border-top: 5px $brand-primary solid;
      }
    }

    &.drag-over-gap-bottom {
      > .draggable {
        border-bottom: 5px $brand-primary solid;
      }
    }

    &.filter-node {
      > .#{$treePrefixCls}-node-content-wrapper {
        color: #a60000!important;
        font-weight: bold!important;
      }
    }

    ul {
      margin: 0;
      padding: 0 0 0 18px;

      &.#{$treePrefixCls}-line {
        background: url("https://t.alipayobjects.com/images/T13BtfXl0mXXXXXXXX.gif") 0 0 repeat-y;
      }
    }

    .#{$treePrefixCls}-node-content-wrapper {
      margin: 0;
      cursor: pointer;
      text-decoration: none;
      display: inline-block;
      width: calc(100% - 18px);
      font-size: .9em;
    }

    span {
      &.#{$treePrefixCls}-switcher,
      &.#{$treePrefixCls}-iconEle {
        background-size: 16px 16px;
        line-height: 16px;
        margin-right: 2px;
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: middle;
        border: 0 none;
        cursor: pointer;
        outline: none;
        background-repeat: no-repeat;
      }

      &.#{$treePrefixCls}-switcher {
        position: relative;

        &:before {
          content: "";
          border: 4px solid transparent;
          border-left-color: #fff;
          position: absolute;
          top: 4px;
          left: 10px;
        }

        &.#{$treePrefixCls}-switcher-noop {
          cursor: auto;
        }
        &.#{$treePrefixCls}-switcher_open {
          &:before {
            transform: rotate(45deg);
            transform-origin: 0;
          }
        }
        &.#{$treePrefixCls}-switcher_close { }
      }
    }

    &.is-trash {
      > .#{$treePrefixCls}-node-content-wrapper > span.#{$treePrefixCls}-iconEle {
        background-image: url(./img/trash-full.svg) !important;
      }

      &.is-empty {
        > .#{$treePrefixCls}-node-content-wrapper > span.#{$treePrefixCls}-iconEle {
          background-image: url(./img/trash-empty.svg) !important;
        }
      }
    }

    &.is-empty {
      .#{$treePrefixCls}-switcher {
        opacity: 0;
      }
    }
  }

  &-title {
    display: inline-block;
    width: calc(100% - 18px);
    vertical-align: middle;
  }

  &-child-tree {
    display: none;
    &-open {
      display: block;
    }
  }
  &-treenode-disabled {
    >span,
    >a,
    >a span {
      color: #ccc;
      cursor: not-allowed;
    }
  }
  &-node-selected {
    color: #00B7AC
  }
  &-icon__open {
    background-image: url(./img/folder-open.svg) !important;
  }
  &-icon__close {
    background-image: url(./img/folder.svg) !important;
  }
}
