@import './common';

@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  src: url('./font/OpenSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  src: url('./font/OpenSans-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  src: url('./font/OpenSans-Bold.woff2') format('woff2');
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  font: 1em/1.5 'Open Sans';
  -webkit-app-region: drag;
}

*, *:before, *:after {
  box-sizing: border-box;
}

#root, #root > div {
  display: flex;
  flex: 1;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    /*cursor: default;*/
}

[role="content"] {
  user-select: text;
  -webkit-user-select: text;
}

input, button, textarea, :focus {
    outline: none; // @TODO: a11y
    -webkit-app-region: no-drag;
}

.Popover-body {
  display: inline-flex;
  padding: 0;
  flex-direction: column;
}

.Popover-tip {
  fill: $dark-secondary;
}
