@import './lib/normalize';
@import './common';

@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  src: url('./font/OpenSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  src: url('./font/OpenSans-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  src: url('./font/OpenSans-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Anonymous';
  font-weight: bold;
  src: url('./font/Anonymous-Bold.woff2') format('woff2');
}

html {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  overflow: hidden;
  -webkit-app-region: drag;
}

body, button, input, select, textarea {
  font: 1em/1.5 'Open Sans';
}

*, *:before, *:after {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex: 1;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    /*cursor: default;*/
}

[role="content"] {
  user-select: text;
  -webkit-user-select: text;
}

input, button, textarea, :focus {
    outline: none; // @TODO: a11y
    -webkit-app-region: no-drag;
}

:root {
  --spacing-half: 6px;
  --spacing-one: 12px;
  --spacing-two: 20px;
  --sidebar-width: 250px;
  --sidebar-width-condenced: 75px;
  --form-input-height: 35px;
  --sidebar-bg: RGBA(33, 37, 43, .9);
  --groups-bg: #292C33;
  --groups-bg-mac: rgba(0,0,0,.2);
  --entries-bg: #31353D;
  /*--entries-bg-mac: rgba(49, 53, 61, 0.4);*/
  --entries-bg-mac: rgba(0, 0, 0, .35);
  --red: #EB5767;
  --gray-light: #F5F7FA;
  --gray: #E4E9F2;
  --gray-dark: #777;
  --black-5: rgba(0,0,0,.05);
  --black-10: rgba(0,0,0,.10);
  --brand-primary: #00B7AC;
  --brand-primary-darker: #179E94;
}
