.empty-state-container {
    flex: 1;
    justify-content: center;
}

.empty-state {
    text-align: center;
    display: none;

    img {
        margin: 0 auto 1rem;
        display: block;
    }

    h4, h5 {
        color: $gray-nevada;
        margin: 0;
        font-weight: 300;
        padding: 0 1rem;
    }

    &.active {
        display: block;
    }
}
