.pane-entries {
    background-color: $pane-background-color;
    border-radius: 10px;

    // Search Box
    .pane-header {
        input {
            border: 0;
            background-color: $search-field-background-color;
            border-radius: 10px 10px 0 0;
            width: 100%;
            height: 50px;
            outline: none;
            color: #fff;
            padding: 0 $padding;
            font-weight: $font-weight-light;

            &:focus {
                background-color: darken($search-field-background-color, 5%);
            }
        }
    }

    .pane-footer {
        border-top: 1px solid $pane-border;
    }

    .list-group-item {
        color: #fff;
        border-bottom-color: $pane-border;

        strong {
            font-weight: $font-weight;
        }

        p {
            color: rgba(255,255,255,.8);
            font-size: 12px;
            font-weight: $font-weight-light;
        }

        &.selected {
            background-color: $list-selected-background-color;
        }
    }
}