.pane-entries {
    display: none;

    &.active {
        display: flex;
    }
}

.entries-list {
    background-color: $blue-shark;

    header {
        padding: 1rem;
        border-bottom: 1px solid $white-05;

        input {
            margin: 0;
            background-color: $blue-charcoal;
            border-radius: 4px;
            border: none !important;
            color: #fff !important;
            font-size: .9em;

            &:hover {
                background-color: $blue-charcoal;
            }

            &:focus {
                background-color: darken($blue-charcoal, 5%);
            }
        }
    }

    footer {
        padding: 1rem;
        border-top: 1px solid $white-05;
    }
}

// This is the block list container
.entries-items {
    overflow-x: hidden;

    @include block-list-container(
        $font-size: 1rem,
        $full-bleed: true
    );

    li {
        @include block-list-item(
            $color: #fff,
            $color-hover: #fff,
            $background: transparent,
            $background-hover: darken($blue-shark, 3%),
            $border: 1px solid $white-05,
            $padding: 1rem
        );

        &:first-child {
            border-top: none;
        }

        > a {
            > span {
                display: block;
            }

            > small {
                color: $white-40;
            }
        }

        &.selected {
            > a {
                background-color: $green-buttercup;

                > small {
                    color: $white-60;
                }
            }
        }

        &.shift {
            animation-duration: .4s;
            animation-name: shift;
        }

        @keyframes shift {
            to {
                transform: translateX(350px);
                opacity: 0%;
            }
        }
    }
}
