.entry-view {
    footer {
        padding: 1rem;
        border-top: 1px solid $black-10;
    }

    .edit-form {
        padding: 2rem 1rem;
    }

    form {
        margin-bottom: 1rem;
    }

    .row {
        border-bottom: 1px solid $black-05;
        margin: 0;
        padding: .5rem 0;

        @include grid-block(
            $size: expand
        );

        .title {
            @include grid-content($size: 3);
            margin: 0;
            border-right: 1px solid $black-05;
            font-size: .85em;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 39px;
            text-align: right;

            input {
                text-align: right;
                font-size: .85em;
                font-weight: bold;
            }
        }

        .field {
            @include grid-content;
            padding-right: 0;
        }

        input[name=title] {
            @extend h1;
            height: 1.5em;
            margin: 0;
        }
    }

    .inline-label {
        margin: 0;

        > .form-label {
            background-color: transparent;
            border: none;


            &.toggle-password {
                opacity: .5;
                transition: opacity 200ms;

                &.active {
                    opacity: 1;
                }
            }
        }
    }

    input[type=text],
    input[type=password] {
        border: none;
    }
}
