.entry-view {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.view-content {
    flex: 1;
    overflow: auto;
}

.view-footer {
    display: none;
    border-top: 1px solid $border-color;
    flex: 0 0 auto;

    &.active {
        display: flex;
    }

    > div {
        flex: 1 0 50%;

        &.right {
            text-align: right;
        }
    }
}

.view-header {
    flex: 0 0 auto;
    border-bottom: 1px solid $border-color;
}

.split-form-group {
    display: flex;

    .form-title {
        min-width: 150px;
        width: 150px;
        margin-right: .5rem;
    }

    label.form-title {
        line-height: 32px;
    }
}

.form-group {
    position: relative;

    .toggle-password {
        display: block;
        position: absolute;
        right: 1rem;
        bottom: 0;
        font-size: 20px;
        color: lighten($gray-color, 50%);
        cursor: pointer;

        &.active {
            color: $gray-color;
        }
    }
}