@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.ttf?4ze2mu') format('truetype'),
		url('../fonts/icomoon.woff?4ze2mu') format('woff');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 16px;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-books:before {
	content: "\e995";
}
.icon-file-plus:before {
	content: "\e9a1";
}
.icon-stack:before {
	content: "\e9cd";
}
.icon-folder:before {
	content: "\e9d0";
}
.icon-folder-plus:before {
	content: "\e9d4";
}
.icon-folder-open:before {
	content: "\e9e8";
}
.icon-history:before {
	content: "\ea4c";
}
.icon-drawer3:before {
	content: "\ea80";
}
.icon-box:before {
	content: "\ea81";
}
.icon-box-add:before {
	content: "\ea82";
}
.icon-box-remove:before {
	content: "\ea83";
}
.icon-search:before {
	content: "\eb2d";
}
.icon-search3:before {
	content: "\eb33";
}
.icon-bin:before {
	content: "\ebfa";
}
.icon-cloud2:before {
	content: "\ec76";
}
.icon-cloud-download2:before {
	content: "\ec77";
}
.icon-cloud-upload2:before {
	content: "\ec78";
}
.icon-cloud-check2:before {
	content: "\ec79";
}
.icon-eye:before {
	content: "\ecab";
}
.icon-eye-blocked:before {
	content: "\ecae";
}
.icon-plus3:before {
	content: "\ed5a";
}
.icon-arrow-up:before {
	content: "\edc4";
}
.icon-arrow-right:before {
	content: "\edc5";
}
.icon-arrow-down:before {
	content: "\edc6";
}
.icon-arrow-left:before {
	content: "\edc7";
}
.icon-dropbox:before {
	content: "\ef0b";
}

