.main-screen {

    h3, h5 {
        font-weight: 300;
        text-align: center;
    }

    h5 {
        margin: .5rem 0 2rem;
    }

    .recent-files {
        background-color: $gray-light;
        border-left: 1px solid $gray;
        padding-top: 1em;
    }

    .welcome {
        header {
            margin-bottom: 1em;

            > img {
                height: 130px;
                margin: 0 auto;
                display: block;
            }
        }

        > .grid-content {
            margin: 0 2rem;
        }
    }

}
