.sidebar {
    background-color: $blue-charcoal;
    color: #fff;

    .logo {
        padding: 2.5rem 1rem 0;

        > img {
            height: 1rem;
            margin-bottom: 1rem;
        }

        h6 {
            @include block-list-header(
                $color: #666,
                $font-size: .75rem,
                $uppercase: true,
                $offset: 0
            );
        }
    };

    footer {
        padding: 1rem;
        border-top: 1px solid $white-05;
    }
}

.groups-list {
    @include block-list-container(
        $full-bleed: false
    );

    ul ul {
        margin-left: 1rem;
        display: none;
    }

    // Define what tag or class your list items are with this mixin
    li {
        font-size: .9rem;

        @include block-list-item(
            $color: $gray-mystic,
            $color-hover: $gray-mystic,
            $background: transparent, // Background color
            $background-hover: transparent,
            $border: none,
            $padding: 10px 0
        );

        .chevron {
            position: absolute;
            left: -10px;
            top: 14px;
            display: none;
            transition: transform 200ms;
            line-height: 0;

            .icon {
                width: 10px;
                height: 10px;
            }
        }

        .icon {
            -webkit-filter: grayscale(1);
            transition: -webkit-filter 200ms;
        }

        > a {
            position: relative;

            .menu {
                position: absolute;
                right: 0;
                top: 12px;
                pointer-events: none;
                opacity: 0;
                white-space: nowrap;
                cursor: default;

                > span, .icon{
                    display: inline-block;
                    width: .9rem;
                    height: .9rem;
                }

                > span {
                    opacity: .4;
                    transition: opacity 200ms;
                    cursor: pointer;

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            &:hover {
                .menu {
                    pointer-events: all;
                    opacity: 1;
                }
            }
        }

        &.active {
            > a {
                color: #fff !important;
                //font-weight: 500;

                > .icon {
                    -webkit-filter: none;
                }
            }
        }

        &.has-groups {
            > .chevron {
                display: block;
            }

            &.expanded {
                > .chevron {
                    transform: rotate(90deg);
                    transform-origin: 50% 50%;
                }
            }
        }
    }
}
