<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Buttercup</title>
    <script>
      (function() {
        if (!process.env.HOT) {
          const link = document.createElement('link');
          link.rel = 'stylesheet';
          link.href = '../dist/main.css';
          document.write(link.outerHTML);
        }
      }());
    </script>
  </head>
  <body>
    <div id="root"></div>
    <script>
      const script = document.createElement('script');
      script.src = (process.env.HOT) ? 'http://localhost:3000/app/main.bundle.js' : '../dist/main.bundle.js';
      document.head.appendChild(script);
    </script>
  </body>
</html>
