@font-face {
    font-family: "Open Sans";
    font-weight: 300;
    src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 500;
    src: url("../fonts/OpenSans-Semibold.ttf");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 700;
    src: url("../fonts/OpenSans-Bold.ttf");
}