//
// Variables
// --------------------------------------------------
// Typography
$body-font-family: "Open Sans";

// Brand Colors
$pane-background-color: #607D8B;
$pane-border: darken($pane-background-color, 5%);
$list-selected-background-color: #7599AA;
$search-field-background-color: #49606B;
$folder-list-blue: #607D8B;


// Custom Colors
$blue-charcoal: #292C33;
$blue-shark: #31353D;

$gray-mystic: #CCD1D9;

$green-buttercup: #00B7AC;

$white-05: rgba(255,255,255,.05);
