//
// Variables
// --------------------------------------------------
// Typography
$body-font-family: "Open Sans";

// Brand Colors
$pane-background-color: #607D8B;
$pane-border: darken($pane-background-color, 5%);
$list-selected-background-color: #7599AA;
$search-field-background-color: #49606B;
$folder-list-blue: #607D8B;
