//
// Variables
// --------------------------------------------------
// Typography
$body-font-family: "Open Sans";

// Custom Colors
$blue-charcoal: #292C33;
$blue-shark: #31353D;

$gray-mystic: #CCD1D9;
$gray-haze: #F5F7FA;
$gray-casper: #AAB2BD;
$gray-nevada: #656D78;

$green-buttercup: #00B7AC;

$white-05: rgba(255,255,255,.05);
$white-40: rgba(255,255,255,.40);
$white-60: rgba(255,255,255,.60);

$black-05: rgba(0,0,0,.05);
$black-10: rgba(0,0,0,.10);

$red: #ED5565;
