
// Import deps
@import "../../../node_modules/foundation-apps/scss/foundation";
@import "libs/sweetalert";

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

@import "core/fonts";
@import "core/variables";

@import "ui/icons";
@import "ui/intro-window";
@import "ui/entries-list";
@import "ui/sidebar";

// Additions
.block-list {
    ul ul {
        margin-left: 1rem;
    }
}

// Icons
.icon {
    width: 1.25rem;
    height: 1.125rem;
    vertical-align: -4px;
    display: inline-block;
}
