// Import deps
@import "core/fonts";
@import "core/variables";

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

@import "../../../node_modules/foundation-apps/scss/foundation";
@import "ui/icons";
@import "ui/intro-window";

// Additions
.block-list {
    ul ul {
        margin-left: 1rem;
    }
}
